django==4.0.10
djangorestframework==3.14.0
djangorestframework-gis==1.0
django-filter==22.1
whitenoise==6.5.0
django-keycloak-auth==0.9.6
python-keycloak==3.3.0
gunicorn==21.2.0
pyyaml==6.0.1
requests==2.31.0
django-dotenv==1.4.2
django-cors-headers==4.2.0
django-extensions==3.2.3
psycopg2==2.9.5
django-probes==1.7.0
