django==5.0.3
djangorestframework==3.14.0
djangorestframework-gis==1.0
django-filter==23.5
whitenoise==6.6.0
gunicorn==21.2.0
pyyaml==6.0.1
requests==2.31.0
django-dotenv==1.4.2
# python-dotenv==1.0.1
django-cors-headers==4.3.1
django-extensions==3.2.3
psycopg2==2.9.9
django-probes==1.7.0
pyjwt==2.8.0
cryptography==42.0.7
nbformat==5.10.4
python-slugify==8.0.4
colorhash==2.0.0
rpy2==3.5.11
pyflakes==3.2.0
pytype==2024.4.11
autopep8==2.2.0
distro==1.9.0
pygithub==2.3.0
jupytext==1.16.3
