django==5.1.4
djangorestframework==3.16.0
djangorestframework-gis==1.1
django-filter==25.1
whitenoise==6.9.0
gunicorn==23.0.0
pyyaml==6.0.2
requests==2.32.3
django-dotenv==1.4.2
django-cors-headers==4.7.0
django-extensions==4.1
psycopg2==2.9.10
django-probes==1.7.0
